@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('/assets/font/Poppins-SemiBold.woff2') format('woff2'),
        url('/assets/font/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

/*body {
    background-color: #0C322C;
}*/